<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /
	RewriteRule ^about/?$ /views/about.php [QSA,L]
	RewriteRule ^suggest/?$ /views/suggest.php [QSA,L]
	RewriteRule ^mailinglist/?$ /views/mailinglist.php [QSA,L]
	RewriteRule ^details/ /views/details.php [QSA,L]
	RewriteRule ^filter/([a-zA-Z]*)/$ index.php?t=$1 [QSA,L]
</IfModule>