.deal_text {
	margin-top:3px;
	margin-bottom:2px;
}
.website {
	display: inline-block;
	margin-left: 2px;
}

.ks_price {
	text-decoration: line-through;
	display: inline-block;
}

a img {
  border: none;
}

a.logo_text {
	width: 960px;
	height: 35px;
	margin-bottom:5px;
	text-align: center;
	display: inline-block;
	font-size: 35px;
	color: #333;
	text-decoration:none;
	font-family: Skranji;
	color: #E27;
	text-shadow: 0 1px #333;
}

a.logo_text:hover {
	cursor:pointer;
}

/* whole page */

body {	
  background-color:#F5F0FA;
}

div.center_column  {
	margin: auto;
	width: 980px;
}

div.product_area {
	width: 266px;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px;
}

div.product_img {
	height: 250px;
	width: 267px;	
	text-align:center;
	border:solid;
	border-color:white;
}

img.product_img {
	max-height: 250px;
	max-width: 267px;
	margin-bottom:2px;
}

div.product_img:hover {
	border:solid;
	border-color:#e27;
}

div.product_title {
	text-align: center;
	margin-bottom: 2px;
	font-width:222;
	font-family: Skranji;
}

div.product_description {
	font-size: 14px;
	font-family: Source Sans Pro;
	height: 50px;
	font-weight: 300;
}

a.buy_button {
	background-color: yellow;
	height: 20px;
	width: 50px;
	float: right;
	text-align: center;
	padding: 1px;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
	font-family: Skranji;
	text-decoration: none;
	color: black;
}

a.buy_button:hover {
	cursor:pointer;
	background-color: #cdcd00;
}

div.product_price {
	display: inline-block;
	font-family: Skranji;
	margin-right:2px;
}

div.not_implemented_message,
/*div.wordlist,*/
div.content_area {
	padding: 20px;
	background-color: white;
	border-radius: 4px;  /* TODO: need to add all the other browsers' taggies */
	box-shadow: 0 0 4px #666;	
	min-height: 250px;
	font-family: Source Sans Pro;
	font-weight:400;
}

div.tagline {
	text-align:center;
	width: 960px;
	font-family: Source Sans Pro;
	margin-bottom:42px;
}

div.header {
  height:75px;
  margin-bottom: 20px;
  width: 929px;
  margin-left: 10px;
  margin-top: 10px;	
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 11px;
}	


div.place_text {
	/* width: 700px;*/
	width:960px;
	display: inline-block;
	margin-left:10px;
	line-height: 350%;
	font-family: Source Sans Pro;
}

div.not_implemented_message {
	margin-left:10px;
	margin-top:10px;
	width:920px;
}

/* header and footer */

a.footer_link,
a.header_link {
	text-decoration: none;
	font-size: 14px;
}

div.header_link {
	margin-right: 20px;
	margin-top: 10px;
	float: right;
	margin: 10px;
	display: inline-block;
	vertical-align: top;	
    color: #333;
	font-family: Source Sans Pro;

}

.header_link:hover {
	cursor:pointer;
	background-color:#FFF;
}

.header_link:visited {
	color: #333;
}

a.footer_link {
	padding: 20px;
	color: #333;
}

a.footer_link {
	font-family: Source Sans Pro;
}

div.footer {
  height:75px;
  margin-bottom: 20px;
  width: 920px;
  margin-left: 10px;
  margin-top: 10px;	
  padding: 20px;	
  text-align: center;
  font-family: Source Sans Pro;
}

div.type_selector_view {
	margin-bottom:30px;
}

a.type_selector {
	display: inline-block;
	width: 118px;
	font-family: Source Sans Pro;
	font-size: 20px;
	text-align: center;
	background-color: white;
	padding: 2px;
	margin: 4px;
	border: solid;
	border-color: #E27;
	border-width: 2px;
	border-radius: 4px;
	text-decoration: none;
	color:black;
}

a.type_selector:hover {
  background-color: #E27;
  cursor: pointer;
}

.kf_header {
	font-family: Skranji;
	font-size: 20px;
}

.kf_normal {
	font-family: Source Sans Pro;
	font-size:16px;	
}	

.thats_all_folks {
	width:100%;
	text-align:center;
	margin-top:100px;
	margin-bottom:50px;
}